
@{
    ViewBag.Title = "CreatePlot";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Create Plot</h4>
                @*<p class="card-category">Complete your profile</p>*@
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="projId">Select Project</label>
                    <select id="projId" style="height:55px;" class="form-control">  </select>
                </div>
                <div class="form-group">
                    <label for="details">Details</label>
                    <input type="text" class="form-control" id="details" />
                </div>

                <div class="form-group">
                    <label for="saleableAmount">Saleable Amount</label>
                    <input type="text" class="form-control" id="saleableAmount" />

                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary pull-right" id="btnUpdate" onclick="Create();">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
    window.onload = function () {
        loadProjects();
    };

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function loadProjects() {
        $.ajax({
            url: "/Admin/ProjectsList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (objs) {
                var html = '';
                $.each(objs, function (key, item) {

                    html += '<option style="text-align:right"  value="' + item.id + '"> ' + item.name + '</option>';
                });
                debugger;
                $('#projId').append(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Create() {
        if (validate() == false)
            return false;

        var obj = {
            projId: $('#projId').val(),
            saleableAmount: $('#saleableAmount').val(),
            details: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreatePlotForProject",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is created.");
                window.location.href = '/Admin/Plots?id=' + obj.projId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function validate() {
        var isValid = true;
        if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
</script>


