
@{
    ViewBag.Title = "DetailsLA";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="row">
        <div class="col-md-12">
            <div class="card-header card-header-primary">
                <input type="hidden" class="form-control" id="id" />
                <h2 class="card-title" id="title">Land Acquisition</h2>
                <p class="card-category" id="det"></p>
            </div>
        </div>
         
    </div>

<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Date</th>
            <th>Details</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
			<th></th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>

<script type="text/javascript">
    window.onload = function () {
        loadLA();
    };

    function loadLA() {
        $.ajax({
            url: "/Admin/GetbyIDLA/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#id").val(result.id);
                document.getElementById("title").innerHTML=result.name;
                document.getElementById("det").innerHTML=result.details;
				loadLAAccount();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

	function loadLAAccount() {
        var landAcqId = getUrlParameter('id');
        $.ajax({
            url: "/Admin/LAAccountList",
            type: "GET",
            data: { landAcqId: landAcqId},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (comps) {
                var html = '',count=1;
				var Db = 0, Cr = 0;
                $('#ly').html('');
                html += '<tr>';
                html += '<td>0</td>';
                html += '<td> <input type="date" id="datetime" class="form-control"/></td>';
                html += '<td> <input type="text" id="details" class="form-control"/></td>';
				html += '<td> <input type="number" min="0" value="0" id="debit" class="form-control"/></td>';
				html += '<td> <input type="number" min="0" value="0" id="credit" class="form-control"/></td>';
				html += '<td> - </td>';
                html += '<td> <button type="button" class="btn btn-sm btn-success" onclick="insertentry()"><span class="fa fa-pencil"> </span > &nbsp; Add</button ></td > ';
                html += '</tr>';
                $.each(comps, function (key, item) {

                    html += '<tr "> ';
                    html += ' <td>' + count + '</td>';
                    html += ' <td>' + cleanDate(item.datetime) + '</td>';
                    html += ' <td>' + item.details + '</td>';
                    html += ' <td>' + item.debit + '</td>';
                    html += ' <td>' + item.credit + '</td>';
                    html += ' <td>' + item.balance + '</td>';
                    html += ' <td><a target="_blank" href="/Admin/EditLAAccount/?id=' + item.id + '" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>  </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
               // $('#acountTbl').DataTable();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
	function validateEntry() {
        var isValid = true;

		if ($('#datetime').val().trim() == "") {
            $('#datetime').css('border-color', 'Red');
            isValid = false;
        }
		if ($('#debit').val().trim() == "") {
            $('#debit').css('border-color', 'Red');
            isValid = false;
        }
		if ($('#credit').val().trim() == "") {
            $('#credit').css('border-color', 'Red');
            isValid = false;
        }
		if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
	function insertentry() {
        var res = validateEntry();
        if (res == false) {
            return false;
        }

        var obj = {
            landAcqId : getUrlParameter('id'),
            details: $('#details').val(),
            datetime: $('#datetime').val(),
            debit: $('#debit').val(),
            credit: $('#credit').val(),
        };
        $.ajax({
            url: "/Admin/CreateLandAcqAccount",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is updated.");
                loadLAAccount();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
	function cleanDate(x) {
        return new Date(Number(x.replace("/Date(", '').replace(")/", ''))).toLocaleString();
    }
    function loadLA_AR() {
        $.ajax({
            url: "/Admin/GetbyIDLA_ARs/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#datetime").val(TimeTrickToReadableDatetime(result.datetime));
                $("#details").val(result.details);
                $("#amount").val(result.amount);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function CreateAP() {
        if (validate() == false)
            return false;

        var obj = {
            landAcqId: $('#id').val(),
            amount: $('#amount').val(),
            details: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreateLA_AP",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is created.");
                window.location.href = '/Admin/DetailsLA?id=' + obj.landAcqId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
       function CreateAR() {
        if (validate() == false)
            return false;

        var obj = {
            landAcqId: $('#id').val(),
            amount: $('#amount').val(),
            details: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreateLA_AR",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is created.");
                window.location.href = '/Admin/DetailsLA?id=' + obj.landAcqId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function LA_APList() {
        $.ajax({
            url: "/admin/LoadLA_APs/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                 var html = '',count=1;
                $.each(result, function (key, item) {
                      html += '<tr "> ';
                      html += ' <td>' +  TimeTrickToReadableDatetime(item.datetime) + '</td>';
                      html += ' <td>' + item.details + '</td>';
                      html += ' <td>' + item.amount + '</td>';
                    html += ' <td><a target="_blank" href="/Admin/EditLA_AP/?id=' + item.id + '" class="btn btn-primary btn-xs"> Edit</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    
</script>




