
@{
    ViewBag.Title = "DetailsLA";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title" id="title">Land Acquisition</h4>
                <p class="card-category" id="details"></p>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="projId">Select Project</label>
                    <select id="projId" style="height:55px;" class="form-control">  </select>
                </div>
                <div class="form-group">
                    <label for="name">Details</label>
                    <input type="text" class="form-control" id="details" />
                </div>

                <div class="form-group">
                    <label for="details">Saleable Amount</label>
                    <input type="text" class="form-control" id="saleableamount" />

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-primary  pull-right" id="btnUpdate" onclick="Create();">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img" src="~/assets/img/avator.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray"><span id="design"></span></h6>
                <h4 class="card-title"><span id="profile"></span></h4>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="javascript:;" class="btn btn-primary btn-round ">Follow</a>
            </div>
        </div>
    </div>
</div>

<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>
<script type="text/javascript">
    window.onload = function () {
        loadLA();
    };

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function loadLA() {
        $.ajax({
            url: "/Admin/GetbyIDLA/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#name").html=result.name;
                $("#details").html=result.details;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function LA_APList() {
        $.ajax({
            url: "/admin/LoadLA_APs/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                 var html = '',count=1;
                  $.each(result, function (key, item) {

                    html += '<tr "> ';
                    html += ' <td>' + count + '</td>';
                    html += ' <td>' + item.paidAmount + '</td>';
                    html += ' <td>' + item.details + '</td>';
                    html += ' <td>' + item.datetime + '</td>';
                    html += ' <td><a target="_blank" href="/Admin/EditLA_AP/?id=' + item.id + '" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function validate() {
        var isValid = true;
        if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
</script>




