
@{
    ViewBag.Title = "DetailsLA";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="row">
        <div class="col-md-12">
            <div class="card-header card-header-primary">
                <input type="hidden" class="form-control" id="id" />
                <h2 class="card-title" id="title">Land Acquisition</h2>
                <p class="card-category" id="det"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="datetime">Date Time</label>
                        <input type="text" class="form-control" id="datetime" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="details">Details</label>
                        <input type="text" class="form-control" id="details" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="amount">Saleable Amount</label>
                        <input type="text" class="form-control" id="amount" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                            <button type="button" class="btn btn-primary btn-xs" id="btnUpdate" onclick="CreateAR();">Add Payable Amount</button>
                </div>
            </div>
        </div>
    </div>

<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Details</th>
            <th>Amount</th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th><input type="text" class="form-control" id="amountAP" /></th>
            <th><input type="text" class="form-control" id="detailsAP" /></th>
            <th>
                <button type="button" class="btn btn-primary btn-xs " id="btnUpdate" onclick="CreateAP();">Add Payment</button>

            </th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>
<script type="text/javascript">
    window.onload = function () {
        loadProjects();
        loadLA();
        loadLA_AR();
        LA_APList();
    };

    

    function loadProjects() {
        $.ajax({
            url: "/Admin/ProjectsList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (objs) {
                var html = '';
                $.each(objs, function (key, item) {

                    html += '<option style="text-align:right"  value="' + item.id + '"> ' + item.name + '</option>';
                });
                debugger;
                $('#projId').append(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadLA() {
        $.ajax({
            url: "/Admin/GetbyIDLA/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                $("#id").val(result.id);
                document.getElementById("title").innerHTML=result.name;
                document.getElementById("det").innerHTML=result.details;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadLA_AR() {
        $.ajax({
            url: "/Admin/GetbyIDLA_ARs/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#datetime").val(TimeTrickToReadableDatetime(result.datetime));
                $("#details").val(result.details);
                $("#amount").val(result.amount);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function CreateAP() {
        if (validate() == false)
            return false;

        var obj = {
            landAcqId: $('#id').val(),
            amount: $('#amount').val(),
            details: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreateLA_AP",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is created.");
                window.location.href = '/Admin/DetailsLA?id=' + obj.landAcqId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
       function CreateAR() {
        if (validate() == false)
            return false;

        var obj = {
            landAcqId: $('#id').val(),
            amount: $('#amount').val(),
            details: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreateLA_AR",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is created.");
                window.location.href = '/Admin/DetailsLA?id=' + obj.landAcqId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function LA_APList() {
        $.ajax({
            url: "/admin/LoadLA_APs/" + getUrlParameter('id'),
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                 var html = '',count=1;
                $.each(result, function (key, item) {
                      html += '<tr "> ';
                      html += ' <td>' +  TimeTrickToReadableDatetime(item.datetime) + '</td>';
                      html += ' <td>' + item.details + '</td>';
                      html += ' <td>' + item.amount + '</td>';
                    html += ' <td><a target="_blank" href="/Admin/EditLA_AP/?id=' + item.id + '" class="btn btn-primary btn-xs"> Edit</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function validate() {
        var isValid = true;
        if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
        if ($('#amount').val().trim() == "") {
            $('#amount').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
</script>




