
@{
    ViewBag.Title = "Edit Project";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Project</h4>
                @*<p class="card-category">Complete your profile</p>*@
            </div>
            <div class="card-body">

                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" />
                    <input type="hidden" class="form-control" id="datetime" />
                </div>

                <div class="form-group">
                    <label for="pname">Poject Name</label>
                    <input type="text" class="form-control" id="pname" />
                </div>

                <div class="form-group">
                    <label for="details">Project Details</label>
                    <textarea type="text" class="form-control" id="details" cols="4">  </textarea>

                </div>

                <div class="form-group">
                    <label for="deleted">Deactive Project</label>
                    <select id="deleted" class="form-control">
                        <option value="1">Active</option>
                        <option value="0">Deactive</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/Admin/Projects" class="btn btn-success pull-left"> <span class="fa fa-backward"></span> &nbsp; Back </a>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success  pull-right" id="btnUpdate" onclick="UpdateProject();"><span class="fa fa-refresh"></span> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<script type="text/javascript">
    window.onload = function () {
        getbyID(getUrlParameter('id'));

    };

    function getbyID(id) {
        $.ajax({
            url: "/Admin/GetbyIDProject/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#pname').val(result.name);
                $('#details').html(result.details);

                $('#deleted').val(result.deleted);
                $('#datetime').val(result.datetime);
                $('#updatedAt').val(result.updatedAt);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }



    function UpdateProject() {
        var res = validateProject();
        if (res == false) {
            return false;
        }

        var obj = {
            id: $('#id').val(),
            name: $('#pname').val(),
            details: $('#details').val(),
            datetime: $('#datetime').val(),
            deleted: $('#deleted').val() == 0 ? false : true
        };
        $.ajax({
            url: "/Admin/UpdateProject",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is updated.");
                window.location.href = '/Admin/Projects/';

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function validateProject() {
        var isValid = true;
        if ($('#pname').val().trim() == "") {
            $('#pname').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
</script>
