
@{
    ViewBag.Title = "EditLA";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit LA Accounts</h4>
                @*<p class="card-category">Complete your profile</p>*@
            </div>
            <div class="card-body">

                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" />
                    <input type="hidden" class="form-control" id="landAcqId" />
                </div>
				<div class="form-group">
                    <label for="datetime">Date</label>
                    <input type="date" id="datetime" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="name">Details</label>
                    <input type="text" class="form-control" id="details" />
                </div>

                <div class="form-group">
                    <label for="debit">Debit</label>
                    <input type="number" class="form-control" id="debit" cols="4">  </input>

                </div>
				 <div class="form-group">
                    <label for="credit">Credit</label>
                    <input type="number" class="form-control" id="credit" cols="4">  </input>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-primary  pull-right" id="btnUpdate" onclick="Update();">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img" src="~/assets/img/avator.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray"><span id="design"></span></h6>
                <h4 class="card-title"><span id="profile"></span></h4>
                <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="javascript:;" class="btn btn-primary btn-round ">Follow</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        getbyID(getUrlParameter('id'));

    };

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function getbyID(id) {
        $.ajax({
            url: "/Admin/GetbyIDLAAccount/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#id').val(result.id);
                $('#landAcqId').val(result.landAcqId);
                $('#debit').val(result.debit);
                $('#credit').val(result.credit);
				console.log(cleanDate(result.datetime));
                $('#details').val(result.details);
				document.getElementById('datetime').value=cleanDate(result.datetime);
                //$('#datetime').html(cleanDate(result.datetime));
                //$('#updatedAt').val(result.updatedAt);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

	function cleanDate(x) {
        return new Date(Number(x.replace("/Date(", '').replace(")/", ''))).toLocaleString();
    }

    function Update() {

        if (validate() == false)
            return false;

        var obj = {
            id: $('#id').val(),
            landAcqId: $('#landAcqId').val(),
            details: $('#details').val(),
            debit: $('#debit').val(),
            credit: $('#credit').val(),
            datetime: $('#datetime').val()
        };
        $.ajax({
            url: "/Admin/UpdateLAAccount",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '/Admin/DetailsLA/?id=' + obj.landAcqId;

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function validate() {
        var isValid = true;
        if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
		if ($('#debit').val().trim() == "") {
            $('#debit').css('border-color', 'Red');
            isValid = false;
        }
		if ($('#credit').val().trim() == "") {
            $('#credit').css('border-color', 'Red');
            isValid = false;
        }
        return isValid;
    }
</script>
