
@{
    ViewBag.Title = "LandAcquisition";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Land Acquisition-LA Panel</h2>
<div class="row">

    <div class="col-md-6">
		<select id="projId" style="height:55px;" class="form-control" onchange="loadLA()">  </select>
    </div>
    <div class="col-md-6 pull-right">
        @Html.ActionLink("Create LA", "CreateLA", null, new { @class = "btn btn-primry" })
    </div>
</div>
<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>
<script>
    window.onload = function () { loadProjects(); };
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
	function loadProjects() {
        $.ajax({
            url: "/Admin/ProjectsList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (objs) {
                var html = '';
                $.each(objs, function (key, item) {
                    html += '<option   value="' + item.id + '"> ' + item.name + '</option>';
                });
                $('#projId').append(html);
				loadLA();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
	function validateEntry() {
        var isValid = true;

		if ($('#details').val().trim() == "") {
            $('#details').css('border-color', 'Red');
            isValid = false;
        }
        
        return isValid;
    }
	function insertentry() {
        var res = validateEntry();
        if (res == false) {
            return false;
        }

        var obj = {
            projId :document.getElementById("projId").value,
            name: $('#details').val()
        };
        $.ajax({
            url: "/Admin/CreateLandAcq",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Record is updated.");
                loadLA();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function loadLA() {
        var projId =document.getElementById("projId").value;
        $.ajax({
            url: "/Admin/LAList",
            type: "GET",
            data: { projId: projId},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (comps) {
                var html = '',count=1;
				var Db = 0, Cr = 0;
                $('#ly').html('');
                html += '<tr>';
                html += '<td>0</td>';
                //html += '<td> <input type="date" id="datetime" class="form-control"/></td>';
                html += '<td> <input type="text" id="name" class="form-control"/></td>';
				html += '<td> <input type="text" id="details" class="form-control"/></td>';
                html += '<td> <button type="button" class="btn btn-sm btn-success" onclick="insertentry()"><span class="fa fa-pencil"> </span > &nbsp; Add</button ></td > ';
                html += '</tr>';
                $.each(comps, function (key, item) {

                    html += '<tr "> ';
                    html += ' <td>' + count + '</td>';
                    html += ' <td>' + item.name + '</td>';
                    html += ' <td>' + item.details + '</td>';
                    html += ' <td><a target="_blank" href="/Admin/EditLA/?id=' + item.id + '" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a> | <a target="_blank" href="/Admin/DetailsLA/?id=' + item.id + '" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Details</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
               // $('#acountTbl').DataTable();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
	    

</script>

