
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <h2>Projects </h2>
    </div>
    <div class="col-md-6">
        <a href="CreateProject" class="btn btn-success pull-right"> <span class="fa fa-plus"></span> &nbsp; Create Project</a>
    </div>
</div>
<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>
<script>
    window.onload = function () { loadProjects(); };


    function loadProjects() {
       
        //var usertype =getUserTypeValue(getUrlParameter('usertype'));
        $.ajax({
            url: "/Admin/ProjectsList",
            type: "GET",
            //data: { usertype: usertype},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (comps) {
                var html = '',count=1;
                $.each(comps, function (key, item) {

                    html += '<tr "> ';
                    html += ' <td>' + count + '</td>';
                    html += ' <td>' + item.name + '</td>';
                    html += ' <td><a  href="/Admin/EditProject/?id=' + item.id + '" class="btn btn-success btn-xs pull-right"><span class="fa fa-pencil"></span>&nbsp; Edit</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
               // $('#acountTbl').DataTable();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

</script>

