
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="row">
        <div class="col-md-6">
            <h2>Users Panel</h2>
        </div>
        <div class="col-md-6">
            <a href="CreateUser" class="btn btn-success pull-right"> <span class="fa fa-plus"></span> &nbsp; Create User</a>
        </div>
    </div>
<table id="acountTbl" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Cell</th>
            <th>NIC</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="acountTblDiv"></tbody>
</table>
<script>
    window.onload = function () { loadUsers(); };
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    function loadUsers() {

        var type =getUrlParameter('type');
        $.ajax({
            url: "/Admin/UsersList",
            type: "GET",
            data: { type: type},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (comps) {
                var html = '',count=1;
                $.each(comps, function (key, item) {

                    html += '<tr "> ';
                    html += ' <td>' + count + '</td>';
                    html += ' <td>' + item.name + '</td>';
                    html += ' <td>' + item.cell + '</td>';
                    html += ' <td>' + item.nic + '</td>';
                    html += ' <td><a href="/Admin/EditUser/?id=' + item.id + '" class="btn btn-success btn-xs pull-right"><span class="fa fa-pencil"></span>&nbsp; Edit</a> | <a  href="/Admin/DetailsUser/?id=' + item.id + '" class="btn btn-success btn-xs  pull-right"><span class="fa fa-eye"></span>&nbsp; Details</a> </td>';
                    html += ' </tr>';
                    count++;
                });
                $('#acountTblDiv').html(html);
               // $('#acountTbl').DataTable();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

</script>



